.elementor-36 .elementor-element.elementor-element-bd5d888:not(.elementor-motion-effects-element-type-background),
.elementor-36 .elementor-element.elementor-element-bd5d888>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-accent);
}

.elementor-36 .elementor-element.elementor-element-bd5d888>.elementor-background-overlay {
    opacity: 0.4;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-36 .elementor-element.elementor-element-bd5d888 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 8px 0px 8px 0px;
}

.elementor-bc-flex-widget .elementor-36 .elementor-element.elementor-element-0664b98.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-36 .elementor-element.elementor-element-0664b98.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-36 .elementor-element.elementor-element-82b00dd {
    width: auto;
    max-width: auto;
    --e-icon-list-icon-size: 16px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 7px;
}

.elementor-36 .elementor-element.elementor-element-82b00dd .elementor-icon-list-icon i {
    color: var( --e-global-color-82bce27);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-82b00dd .elementor-icon-list-icon svg {
    fill: var( --e-global-color-82bce27);
    transition: fill 0.3s;
}

.elementor-36 .elementor-element.elementor-element-82b00dd .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-36 .elementor-element.elementor-element-82b00dd .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-36 .elementor-element.elementor-element-82b00dd .elementor-icon-list-text {
    color: var( --e-global-color-82bce27);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-82b00dd .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-ca1b7d4);
}

.elementor-bc-flex-widget .elementor-36 .elementor-element.elementor-element-b234b41.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-36 .elementor-element.elementor-element-b234b41.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-36 .elementor-element.elementor-element-b234b41.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-widget-text-editor {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-1fb3fca {
    width: auto;
    max-width: auto;
    text-align: center;
    color: var( --e-global-color-82bce27);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder .wdt-button {
    background-color: var( --e-global-color-ca1b7d4);
    margin: 0px 0px 0px 0px;
    padding: 4px 14px 5px 14px;
    color: var( --e-global-color-text);
    border-radius: 100px 100px 100px 100px;
}

.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder.wdt-button-style-underline:before,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder.wdt-button-style-overline:before {
    color: var( --e-global-color-ca1b7d4);
}

.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder .wdt-button:focus,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder .wdt-button:hover,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder.wdt-template-bordered .wdt-button:focus:before,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder.wdt-template-bordered .wdt-button:hover:before,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-outline-out"] .wdt-button:focus:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-outline-out"] .wdt-button:hover:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-sweep"] .wdt-button:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-bounce"] .wdt-button:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-radial-in"] .wdt-button:focus:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-radial-in"] .wdt-button:hover:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-shutter-in"] .wdt-button:focus:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-shutter-in"] .wdt-button:hover:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-shutter-cross-forward-in"] .wdt-button:focus:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-shutter-cross-forward-in"] .wdt-button:focus:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-shutter-cross-backward-in"] .wdt-button:hover:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-shutter-cross-backward-in"] .wdt-button:hover:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-shutter-out"] .wdt-button:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-shutter-cross-forward-out"] .wdt-button:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-shutter-cross-backward-out"] .wdt-button:after,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder[class*="wdt-animation-radial-out"] .wdt-button:after {
    background-color: var( --e-global-color-82bce27);
}

.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder.wdt-button-style-underline:focus:before,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder.wdt-button-style-underline:hover:before,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder.wdt-button-style-overline:focus:before,
.elementor-36 .elementor-element.elementor-element-8831b5b .wdt-button-holder.wdt-button-style-overline:hover:before {
    color: var( --e-global-color-82bce27);
}

.elementor-36 .elementor-element.elementor-element-8831b5b {
    width: auto;
    max-width: auto;
}

.elementor-36 .elementor-element.elementor-element-8831b5b>.elementor-widget-container {
    padding: 5px 0px 5px 22px;
}

.elementor-36 .elementor-element.elementor-element-8831b5b .elementor-widget-container {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-bc-flex-widget .elementor-36 .elementor-element.elementor-element-969c1e1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-36 .elementor-element.elementor-element-969c1e1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-36 .elementor-element.elementor-element-969c1e1.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-36 .elementor-element.elementor-element-12e796c {
    width: auto;
    max-width: auto;
    --e-icon-list-icon-size: 16px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 7px;
}

.elementor-36 .elementor-element.elementor-element-12e796c>.elementor-widget-container {
    padding: 0px 20px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-12e796c .elementor-icon-list-icon i {
    color: var( --e-global-color-82bce27);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-12e796c .elementor-icon-list-icon svg {
    fill: var( --e-global-color-82bce27);
    transition: fill 0.3s;
}

.elementor-36 .elementor-element.elementor-element-12e796c .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-36 .elementor-element.elementor-element-12e796c .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-36 .elementor-element.elementor-element-12e796c .elementor-icon-list-text {
    color: var( --e-global-color-82bce27);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-12e796c .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-ca1b7d4);
}

.elementor-36 .elementor-element.elementor-element-45ce068 {
    width: auto;
    max-width: auto;
    --e-icon-list-icon-size: 16px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 7px;
}

.elementor-36 .elementor-element.elementor-element-45ce068 .elementor-icon-list-icon i {
    color: var( --e-global-color-82bce27);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-45ce068 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-82bce27);
    transition: fill 0.3s;
}

.elementor-36 .elementor-element.elementor-element-45ce068 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-36 .elementor-element.elementor-element-45ce068 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-36 .elementor-element.elementor-element-45ce068 .elementor-icon-list-text {
    color: var( --e-global-color-82bce27);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-2126812 {
    padding: 12px 0px 12px 0px;
}

.elementor-bc-flex-widget .elementor-36 .elementor-element.elementor-element-6f20d96.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-36 .elementor-element.elementor-element-6f20d96.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-36 .elementor-element.elementor-element-6f20d96>.elementor-element-populated {
    padding: 0px 10px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-14ac2cb {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-36 .elementor-element.elementor-element-d4672d5.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-36 .elementor-element.elementor-element-d4672d5.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-36 .elementor-element.elementor-element-d4672d5.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-36 .elementor-element.elementor-element-d4672d5>.elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-bc-flex-widget .elementor-36 .elementor-element.elementor-element-6db318c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-36 .elementor-element.elementor-element-6db318c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-36 .elementor-element.elementor-element-6db318c.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-36 .elementor-element.elementor-element-6db318c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-36 .elementor-element.elementor-element-6db318c>.elementor-element-populated {
    padding: 0px 0px 0px 10px;
}

.elementor-36 .elementor-element.elementor-element-2bb6853 .elementor-widget-container {
    text-align: end;
    justify-content: end;
    justify-items: end;
}

.elementor-36 .elementor-element.elementor-element-2bb6853 .wdt-button-holder .wdt-button {
    margin: 0px 0px 0px 0px;
}

@media(max-width:1540px) {
    .elementor-36 .elementor-element.elementor-element-0664b98.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-36 .elementor-element.elementor-element-b234b41.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-36 .elementor-element.elementor-element-2126812 {
        padding: 10px 0px 10px 0px;
    }
    .elementor-36 .elementor-element.elementor-element-2bb6853 {
        width: auto;
        max-width: auto;
    }
    .elementor-36 .elementor-element.elementor-element-cf59a71 {
        width: auto;
        max-width: auto;
    }
    .elementor-36 .elementor-element.elementor-element-cf59a71>.elementor-widget-container {
        padding: 0px 0px 0px 20px;
    }
}

@media(max-width:1280px) {
    .elementor-36 .elementor-element.elementor-element-bd5d888 {
        padding: 10px 0px 10px 0px;
    }
    .elementor-36 .elementor-element.elementor-element-b234b41.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-36 .elementor-element.elementor-element-8831b5b>.elementor-widget-container {
        padding: 0px 0px 0px 14px;
    }
    .elementor-36 .elementor-element.elementor-element-969c1e1.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-36 .elementor-element.elementor-element-2126812 {
        padding: 18px 0px 18px 0px;
    }
}

@media(max-width:768px) {
    .elementor-36 .elementor-element.elementor-element-8831b5b {
        width: 100%;
        max-width: 100%;
    }
    .elementor-36 .elementor-element.elementor-element-8831b5b>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }
    .elementor-36 .elementor-element.elementor-element-2126812 {
        padding: 14px 0px 14px 0px;
    }
}

@media(max-width:480px) {
    .elementor-36 .elementor-element.elementor-element-6f20d96 {
        width: 50%;
    }
    .elementor-36 .elementor-element.elementor-element-6db318c {
        width: 50%;
    }
}

@media(max-width:1540px) and (min-width:481px) {
    .elementor-36 .elementor-element.elementor-element-0664b98 {
        width: 100%;
    }
    .elementor-36 .elementor-element.elementor-element-b234b41 {
        width: 50%;
    }
    .elementor-36 .elementor-element.elementor-element-969c1e1 {
        width: 50%;
    }
}

@media(max-width:1280px) and (min-width:481px) {
    .elementor-36 .elementor-element.elementor-element-b234b41 {
        width: 100%;
    }
    .elementor-36 .elementor-element.elementor-element-969c1e1 {
        width: 100%;
    }
    .elementor-36 .elementor-element.elementor-element-6f20d96 {
        width: 30%;
    }
    .elementor-36 .elementor-element.elementor-element-d4672d5 {
        width: 20%;
    }
    .elementor-36 .elementor-element.elementor-element-6db318c {
        width: 50%;
    }
}

@media(max-width:768px) and (min-width:481px) {
    .elementor-36 .elementor-element.elementor-element-6f20d96 {
        width: 40%;
    }
    .elementor-36 .elementor-element.elementor-element-d4672d5 {
        width: 100%;
    }
    .elementor-36 .elementor-element.elementor-element-6db318c {
        width: 60%;
    }
}